@import "tailwindcss";
@import url(https://db.onlinewebfonts.com/c/478ee5574b65325cfc7cf2f42be6aedb?family=Stem);

body {
  font-family: "Stem", sans-serif;
}

@layer base {
}

@layer components {
  .animation-hover a:hover, .animation-hover button:hover {
    @apply transition-all duration-300 opacity-50;
  }
}

@layer utilities {
  .color-orange {
    color: #F86624;
  }
  .color-white {
    color: #fff;
  }
  .bg-orange {
    background-color: #F86624;
  }
  .bg-white {
    background-color: #fff;
  }
}